<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= is_blog_article? ? current_article.data.description : data.settings.description %>">
    <title><%= current_article.title + ' &ndash; ' unless current_article.nil? %><%= data.settings.name %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "application", {:rel=>"stylesheet"} %>
    <%= partial "webfonts" %>
  </head>
  <body class="<%= page_classes %>">
    
    <%= partial 'nav' %>
    <div id="main" role="main">
      <%= yield %>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag  "application" %>
  </body>
</html>
