<div class="tile-col-2 tile-offset-1 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <h1 class="label-heading">Park Space</h1>
    </div>
  </div>
</div>

<div class="tile-col-2 tile-offset-3 tile-ratio-3-v">
  <div class="tile-content">
    <div class="tile-label-e">
      <p>Find a place. Park your space.</p>
    </div>
  </div>
</div>

<div class="tile-col-2 tile-offset-1 tile-ratio-2-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <p><%= link_to 'Park Space', 'http://parkspaceapp.com' %> lets you find empty spaces or list your unused spot. Secure a place for your car while on the move or make some extra cash on the side.</p>
    </div>
  </div>
</div>

<div class="tile-col-1 tile-ratio-3-8 tile-offset-2">
  <span data-picture data-alt="Park Space">
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace1.jpg', :md_2c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace1.jpg', :md_2c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace1.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace1.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace1.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace1.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/parkspace1.jpg', :sm_1c) %>" alt="Park Space">
    </noscript>
  </span>
</div>

<div class="tile-col-1 tile-ratio-3-8 tile-offset-0 clear-tile">
  <span data-picture data-alt="Park Space">
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace2.jpg', :md_3c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace2.jpg', :md_3c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace2.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace2.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace2.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace2.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/parkspace2.jpg', :sm_1c) %>" alt="Park Space">
    </noscript>
  </span>
</div>

<div class="tile-col-2 tile-offset-3 tile-ratio-2-v">
  <div class="tile-content">
    <div class="tile-label-w">
      <p>The rates you set for your space include 20% VAT. After tax, we keep 10% to cover app maintenance, credit card fees and customer support. For example, if a parker booked your space for one hour at an hourly rate of £10, you would get £7.50.</p>
    </div>
  </div>
</div>

<div class="tile-col-1 tile-ratio-3-8 tile-offset-3 clear-tile">
  <span data-picture data-alt="Park Space">
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace3.jpg', :md_3c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace3.jpg', :md_3c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace3.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace3.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace3.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspace3.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/parkspace3.jpg', :sm_1c) %>" alt="Park Space">
    </noscript>
  </span>
</div>

<div class="tile-col-2 tile-offset-2 tile-ratio-2-v">
  <div class="tile-content">
    <div class="tile-label-w">
      <p>At the moment, listings are limited to the UK, but you can use the app anywhere you’ve got a connection. When you pay for a booking, the transaction will be in British Pounds. Be aware that if your credit card provider is based outside the UK, they might charge you additional foreign exchange fees. We plan on expanding the listings into other countries in the future.</p>
    </div>
  </div>
</div>