<div class="tile-col-2 tile-offset-1 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <h1 class="label-heading">Polligraf</h1>
    </div>
  </div>
</div>
<div class="tile-col-2 tile-offset-3 tile-ratio-3-v">
  <div class="tile-content">
    <div class="tile-label-e">
      <p><%= link_to 'Polligraf', 'http://www.polligraf.it' %> is a simple tool that lets users poll their social networks, and generate beautiful infographics with the results.</p>
    </div>
  </div>
</div>
<!-- <div class="tile-col-3 tile-ratio-3-3 tile-offset-2 clear-tile">
  <span data-picture data-alt="Polligraf">
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
</div> -->
<div class="tile-col-3 tile-ratio-3-3 tile-offset-2 clear-tile">
  <span data-picture data-alt="Polligraf">
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf2.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf2.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf2.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf2.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf2.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf2.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/polligraf2.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
</div>
<div class="tile-col-2 tile-ratio-2-2 tile-offset-3 clear-tile">
  <span data-picture data-alt="Polligraf">
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf3.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf3.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf3.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf3.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf3.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf3.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/polligraf3.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
</div>
<div class="tile-col-2 tile-ratio-3-5 tile-offset-1 clear-tile">
  <span data-picture data-alt="Polligraf">
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf6.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf6.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf6.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf6.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf6.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf6.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/polligraf6.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
</div>
<div class="tile-col-1 tile-ratio-4-6 tile-offset-3">
  <span data-picture data-alt="Polligraf">
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf5.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf5.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf5.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf5.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf5.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf5.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/polligraf5.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
</div>
<div class="tile-col-2 tile-ratio-3-5 tile-offset-3 clear-tile">
  <span data-picture data-alt="Polligraf">
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf7.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf7.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf7.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf7.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf7.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf7.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/polligraf7.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
</div>