<div class="tile-col-2 tile-offset-1 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <h1 class="label-heading">Walk for Water</h1>
    </div>
  </div>
</div>

<div class="tile-col-2 tile-offset-3 tile-ratio-3-v">
  <div class="tile-content">
    <div class="tile-label-e">
      <p>Every step counts.</p>
    </div>
  </div>
</div>

<div class="tile-col-3 tile-ratio-3-3 tile-offset-2 clear-tile">
  <span data-picture data-alt="Walk for Water">
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater1.jpg', :md_3c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater1.jpg', :md_3c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater1.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater1.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater1.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater1.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/walkforwater1.jpg', :sm_1c) %>" alt="Walk for Water">
    </noscript>
  </span>
</div>

<div class="tile-col-2 tile-offset-1 tile-ratio-2-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <p>Based on the number of steps you take, a brand/sponsor decides to donate a value to Charity Water. <%= link_to 'Walk for Water', 'http://walkforwater.co' %> is designed to keep track of the steps taken by event attendees for the purpose of generating donations, but anyone can use the app whenever they wish to measure their activity level.</p>
    </div>
  </div>
</div>

<div class="tile-col-1 tile-ratio-1-1 tile-offset-3">
  <span data-picture data-alt="Walk for Water">
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater4.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater4.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater4.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater4.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater4.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater4.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/walkforwater4.jpg', :sm_1c) %>" alt="Walk for Water">
    </noscript>
  </span>
</div>

<div class="tile-col-3 tile-ratio-3-3 tile-offset-3 clear-tile">
  <span data-picture data-alt="Walk for Water">
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater2.jpg', :md_3c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater2.jpg', :md_3c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater2.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater2.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater2.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater2.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/walkforwater2.jpg', :sm_1c) %>" alt="Walk for Water">
    </noscript>
  </span>
</div>

<div class="tile-col-1 tile-ratio-1-1 tile-offset-0 clear-tile">
  <span data-picture data-alt="Walk for Water">
    <span data-src="/assets/images/work/walkforwater.gif"></span>
    <span data-src="/assets/images/work/walkforwater.gif"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="/assets/images/work/walkforwater.gif"    data-media="(min-width: 768px)"></span>
    <span data-src="/assets/images/work/walkforwater.gif"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="/assets/images/work/walkforwater.gif"    data-media="(min-width: 992px)"></span>
    <span data-src="/assets/images/work/walkforwater.gif"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="/assets/images/work/walkforwater.gif" alt="Walk for Water">
    </noscript>
  </span>
</div>

<div class="tile-col-2 tile-offset-3 tile-ratio-2-v">
  <div class="tile-content">
    <div class="tile-label-w">
      <p>The app automatically tracks your activity in the background. If you’d like to turn off tracking completely, tap the on/off toggle in the sidebar.</p>
      <p>Without an internet connection, the app collects data and then analyses it after reconnection. If you travel abroad and don't have a data connection, your iPhone’s location services may be less accurate until you connect to a network.</p>
    </div>
  </div>
</div>

<div class="tile-col-3 tile-ratio-3-3 tile-offset-3 clear-tile">
  <span data-picture data-alt="Walk for Water">
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater3.jpg', :md_3c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater3.jpg', :md_3c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater3.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater3.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater3.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater3.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/walkforwater3.jpg', :sm_1c) %>" alt="Walk for Water">
    </noscript>
  </span>
</div>