<div class="tile-col-2 tile-offset-1 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <h1 class="label-heading">Lemons</h1>
    </div>
  </div>
</div>
<div class="tile-col-2 tile-offset-3 tile-ratio-3-v">
  <div class="tile-content">
    <div class="tile-label-e">
      <p>Beautiful identities.</p>
    </div>
  </div>
</div>

<div class="tile-col-3 tile-ratio-3-3 tile-offset-2 clear-tile">
  <span data-picture data-alt="Lemons">
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons1.jpg', :md_3c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons1.jpg', :md_3c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons1.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons1.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons1.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons1.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/lemons1.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
</div>

<div class="tile-col-2 tile-offset-1 tile-ratio-2-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <p>A collaborative between Aen’s passion for beautiful identities and Sunday’s desire for every start-up to have wonderfully crafted designs.</p>
    </div>
  </div>
</div>

<div class="tile-col-2 tile-ratio-2-2 tile-offset-3">
  <span data-picture data-alt="Lemons">
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons2.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons2.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons2.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons2.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons2.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons2.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/lemons2.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
</div>
<div class="tile-col-2 tile-ratio-3-5 tile-offset-1 clear-tile">
  <span data-picture data-alt="Lemons">
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons3.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons3.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons3.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons3.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons3.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons3.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/lemons3.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
</div>