<aside>
  <div class="logo-bar">
    <%= link_to data.settings.name, '/', class: 'logo' %>
    <button class="menu-toggle">
      <span class="icon-bar bar-top"></span>
      <span class="icon-bar bar-bottom"></span>
    </button>
  </div>
  <nav>
    <ul>
      <li><a href="#">Work</a></li><!--
      --><li><a href="#">Services</a></li><!--
      --><li><a href="#">People</a></li><!--
      --><li><a href="#">&amp;Sunday</a></li><!--
      --><li><a href="#">Labs</a></li><!--
      --><li><a href="#">Contact</a></li>
    </ul>
  </nav>
</aside>

<div id="main" role="main">
  <div class="tile-col-4 tile-ratio-4-4 tile-hero">
    <div class="tile-content">
      <h2>Solar-powered design</h2>
    </div>
    <span data-picture data-alt="Intro">
      <span data-src="<%= thumbnail_url('assets/images/photons/hero1.jpg', :sm_1c) %>"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/hero1.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/hero1.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/hero1.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/hero1.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/hero1.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('assets/images/photons/hero1.jpg', :sm_1c) %>" alt="Intro">
      </noscript>
    </span>
  </div>
  <div class="tile-col-4 tile-offset-3 tile-ratio-3-v clear-tile">
    <div class="tile-content">
      <p>We design and build experiences. We live at the intersection of art, science and commerce. We design experiences that endeavours to advance human life in a positive way. We believe in sustainability of ideas, products and experiences. We are structured to deliver high quality multidisciplinary thinking. We collaborate with amazingly talented group of individuals and organisations. We believe the best way to design things is by doing it.</p>
    </div>
  </div>
  <a href="#" class="tile-col-1 tile-offset-1 tile-ratio-1-1 clear-tile"></a>
  <a href="#" class="tile-col-1 tile-offset-2 tile-ratio-1-1 clear-tile"></a>
  <a href="#" class="tile-col-1 tile-offset-0 tile-ratio-1-1 clear-tile"></a>
  <a href="#" class="tile-col-1 tile-offset-3 tile-ratio-1-1"></a>
  <a href="#" class="tile-col-2 tile-offset-2 tile-ratio-2-2 clear-tile"></a>
  <a href="#" class="tile-col-1 tile-offset-0 tile-ratio-1-1 clear-tile"></a>
  <a href="#" class="tile-col-1 tile-offset-2 tile-ratio-1-1"></a>
  <a href="#" class="tile-col-1 tile-offset-1 tile-ratio-1-1 clear-tile"></a>
  <a href="#" class="tile-col-1 tile-offset-1 tile-ratio-1-1"></a>
  <a href="#" class="tile-col-1 tile-offset-3 tile-ratio-1-1"></a>
  <a href="#" class="tile-col-1 tile-offset-2 tile-ratio-1-1 clear-tile"></a>
  <a href="#" class="tile-col-1 tile-offset-1 tile-ratio-1-1 clear-tile"></a>
  <a href="#" class="tile-col-2 tile-offset-3 tile-ratio-2-2 clear-tile"></a>
  <a href="#" class="tile-col-2 tile-offset-1 tile-ratio-2-2 clear-tile"></a>
</div>