<aside>
  <div class="logo-bar">
    <%= link_to data.settings.name, '/', class: 'logo' %>
    <button class="menu-toggle">
      <span class="icon-bar bar-top"></span>
      <span class="icon-bar bar-bottom"></span>
    </button>
  </div>
  <nav>
    <ul>
      <li><a href="#">Work</a></li><!--
      --><li><a href="#">Services</a></li><!--
      --><li><a href="#">People</a></li><!--
      --><li><a href="#">&amp; Sunday</a></li><!--
      --><li><a href="#">Lab</a></li><!--
      --><li><a href="#">Contact</a></li>
    </ul>
  </nav>
</aside>

<div id="main" role="main">
  <a href="#" class="tile-col-4 tile-ratio-4-4 tile-hero">
    <div class="tile-content">
      <div class="tile-label-wnw">
        <h2 class="label-heading">Find a Place. Share Your Space.</h2>
      </div>
    </div>
    <span data-picture data-alt="Intro">
      <span data-src="<%= thumbnail_url('assets/images/photons/parkspaceapp.jpg', :sm_1c) %>"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/parkspaceapp.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/parkspaceapp.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/parkspaceapp.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/parkspaceapp.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/parkspaceapp.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('assets/images/photons/parkspaceapp.jpg', :sm_1c) %>" alt="Intro">
      </noscript>
    </span>
  </a>
  <div class="tile-col-4 tile-offset-3 tile-ratio-3-v clear-tile">
    <div class="tile-content">
      <div class="tile-label-center">
        <p class="lead">We design and build beautiful experiences.</p>
      </div>
    </div>
  </div>
  <a href="#" class="tile-col-1 tile-offset-1 tile-ratio-1-1 clear-tile tile-service tile-service-design tile-shaded">
    <div class="tile-content">
      <h3 class="tile-label-s label-caption label-reversed">Service Design</h3>
    </div>
  </a>
  <a href="#" class="tile-col-1 tile-offset-2 tile-ratio-1-1 clear-tile tile-service tile-product-design tile-shaded">
    <div class="tile-content">
      <h3 class="tile-label-s label-caption label-reversed">Product Design</h3>
    </div>
  </a>
  <a href="#" class="tile-col-1 tile-offset-0 tile-ratio-1-1 clear-tile tile-service tile-mobility-design tile-shaded">
    <div class="tile-content">
      <h3 class="tile-label-s label-caption label-reversed">Mobility Design</h3>
    </div>
  </a>
  <a href="#" class="tile-col-1 tile-offset-3 tile-ratio-1-1 tile-service tile-retail-design tile-shaded">
    <div class="tile-content">
      <h3 class="tile-label-s label-caption label-reversed">Retail Design</h3>
    </div>
  </a>
  <a href="#" class="tile-col-2 tile-offset-2 tile-ratio-2-2 clear-tile tile-shaded">
    <span data-picture data-alt="Walk for Water">
      <span data-src="<%= thumbnail_url('assets/images/photons/walkforwater.jpg', :sm_1c) %>"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/walkforwater.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/walkforwater.jpg', :md_2c) %>"    data-media="(min-width: 768px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/walkforwater.jpg', :md_2c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/walkforwater.jpg', :lg_2c) %>"    data-media="(min-width: 992px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/walkforwater.jpg', :lg_2c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('assets/images/photons/walkforwater.jpg', :sm_1c) %>" alt="Intro">
      </noscript>
    </span>
    <div class="tile-content">
      <h3 class="tile-label-center label-caption label-reversed">Walk for Water</h3>
    </div>
  </a>
  <a href="#" class="tile-col-1 tile-offset-0 tile-ratio-1-1 clear-tile tile-tinted">
    <span data-picture data-alt="Valli">
      <span data-src="<%= thumbnail_url('assets/images/photons/valli.jpg', :sm_1c) %>"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/valli.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/valli.jpg', :md_1c) %>"    data-media="(min-width: 768px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/valli.jpg', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/valli.jpg', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/valli.jpg', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('assets/images/photons/valli.jpg', :sm_1c) %>" alt="Intro">
      </noscript>
    </span>
    <div class="tile-content">
      <h3 class="tile-label-sw label-caption label-reversed">Valli, CEO</h3>
    </div>
  </a>
  <a href="#" class="tile-col-1 tile-offset-2 tile-ratio-1-1 tile-tinted">
    <span data-picture data-alt="Aen">
      <span data-src="<%= thumbnail_url('assets/images/photons/aen.jpg', :sm_1c) %>"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/aen.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/aen.jpg', :md_1c) %>"    data-media="(min-width: 768px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/aen.jpg', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/aen.jpg', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/aen.jpg', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('assets/images/photons/aen.jpg', :sm_1c) %>" alt="Intro">
      </noscript>
    </span>
    <div class="tile-content">
      <h3 class="tile-label-sw label-caption label-reversed">Aen, Design Lead</h3>
    </div>
  </a>
  <a href="#" class="tile-col-1 tile-offset-1 tile-ratio-1-1 clear-tile tile-tinted">
    <span data-picture data-alt="Wee Soon">
      <span data-src="<%= thumbnail_url('assets/images/photons/weesoon.jpg', :sm_1c) %>"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/weesoon.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/weesoon.jpg', :md_1c) %>"    data-media="(min-width: 768px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/weesoon.jpg', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/weesoon.jpg', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/weesoon.jpg', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('assets/images/photons/weesoon.jpg', :sm_1c) %>" alt="Intro">
      </noscript>
    </span>
    <div class="tile-content">
      <h3 class="tile-label-sw label-caption label-reversed">Wee Soon, Chief Technologist</h3>
    </div>
  </a>
  <!-- <div class="tile-col-4 tile-offset-3 tile-ratio-3-v clear-tile">
    <div class="tile-content">
      <p class="tile-label-center lead"><a href="#">Make and break things with us. Join the team.</a></p>
    </div>
  </div> -->
  <div class="tile-col-2 tile-offset-3 tile-ratio-2-2 clear-tile tile-shaded">
    <div class="tile-content">
      <div class="tile-label-center">
        <h3 class="label-heading label-reversed">&amp; Sunday</h3>
        <!-- <p class="label-reversed label-muted"><em><small>Coming soon</small></em></p> -->
      </div>
    </div>
  </div>
  <!-- <a href="#" class="tile-col-2 tile-offset-1 tile-ratio-2-2 clear-tile tile-shaded">
    <div class="tile-content">
      <h3 class="tile-label-center label-heading label-reversed">Sunday + BIG 3</h3>
    </div>
  </a>
  <a href="#" class="tile-col-3 tile-offset-3 tile-ratio-3-3 clear-tile tile-shaded">
    <div class="tile-content">
      <h3 class="tile-label-center label-heading label-reversed">Sunday + FIXX</h3>
    </div>
  </a> -->
  <a href="#" class="tile-col-2 tile-offset-1 tile-ratio-2-2 clear-tile tile-shaded">
    <span data-picture data-alt="Sunday + AEN">
      <span data-src="<%= thumbnail_url('assets/images/photons/lemons.png', :sm_1c) %>"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/lemons.png', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/lemons.png', :md_1c) %>"    data-media="(min-width: 768px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/lemons.png', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/lemons.png', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
      <span data-src="<%= thumbnail_url('assets/images/photons/lemons.png', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('assets/images/photons/lemons.png', :sm_1c) %>" alt="Intro">
      </noscript>
    </span>
    <div class="tile-content">
      <h3 class="tile-label-center label-heading">Sunday + AEN</h3>
    </div>
  </a>
  <div class="tile-col-1 tile-offset-2 tile-ratio-1-1 clear-tile tile-shaded">
    <div class="tile-content">
      <div class="tile-label-center">
        <h3 class="label-heading label-reversed">Sunday Lab</h3>
      </div>
    </div>
  </div>
  <div id="tile-contact" class="tile-col-2 tile-offset-2 tile-ratio-2-v clear-tile">
    <div class="tile-content">
      <div class="tile-label-center">
        <p>We are a Singapore-based studio available for work with brands and partners anywhere in the world.</p>
        <p><a href="mailto:valli@madebysunday.co">valli@madebysunday.co</a></p>
        <p>+65 8162 3547</p>
      </dov>
    </div>
  </div>
</div>