<% link_to '/work/parkspace/', class: 'tile-col-4 tile-ratio-4-4 tile-hero' do %>
  <div class="tile-content">
    <div class="tile-label-wnw">
      <h2 class="label-heading">Find a Place. Share Your Space.</h2>
    </div>
  </div>
  <span data-picture data-alt="Intro">
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :md_4c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :md_4c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
<% end %>

<div class="tile-col-4 tile-offset-3 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-center">
      <p class="lead">We design and build beautiful experiences.</p>
    </div>
  </div>
</div>

<% link_to '/services/#service-design', class: 'tile-col-1 tile-offset-1 tile-ratio-1-1 clear-tile tile-service tile-service-design-reversed tile-shaded' do %>
  <div class="tile-content">
    <h3 class="tile-label-s label-caption label-reversed">Service Design</h3>
  </div>
<% end %>

<% link_to '/services/#product-design', class: 'tile-col-1 tile-offset-2 tile-ratio-1-1 clear-tile tile-service tile-product-design-reversed tile-shaded' do %>
  <div class="tile-content">
    <h3 class="tile-label-s label-caption label-reversed">Product Design</h3>
  </div>
<% end %>

<% link_to '/services/#retail-design', class: 'tile-col-1 tile-offset-3 tile-ratio-1-1 clear-tile tile-service tile-retail-design-reversed tile-shaded' do %>
  <div class="tile-content">
    <h3 class="tile-label-s label-caption label-reversed">Retail Design</h3>
  </div>
<% end %>

<% link_to '/services/#mobility-design', class: 'tile-col-1 tile-offset-0 tile-ratio-1-1 tile-service tile-mobility-design-reversed tile-shaded' do %>
  <div class="tile-content">
    <h3 class="tile-label-s label-caption label-reversed">Mobility Design</h3>
  </div>
<% end %>

<% link_to '/work/polligraf/', class: 'tile-col-2 tile-offset-2 tile-ratio-2-2 clear-tile' do %>
  <span data-picture data-alt="Polligraf">
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :md_1c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :sm_1c) %>" alt="Polligraf">
    </noscript>
  </span>
  <div class="tile-content">
    <h3 class="tile-label-center label-heading label-reversed">Ask any question. Get a beautiful answer.</h3>
  </div>
<% end %>

<a href="#" class="tile-col-1 tile-offset-0 tile-ratio-1-1 clear-tile tile-tinted">
  <span data-picture data-alt="Valli">
    <span data-src="<%= thumbnail_url('/assets/images/work/valli.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/valli.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/valli.jpg', :md_1c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/valli.jpg', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/valli.jpg', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/valli.jpg', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/valli.jpg', :sm_1c) %>" alt="Valli">
    </noscript>
  </span>
  <div class="tile-content">
    <h3 class="tile-label-sw label-caption label-reversed">Valli, CEO</h3>
  </div>
</a>

<a href="#" class="tile-col-1 tile-offset-2 tile-ratio-1-1 tile-tinted">
  <span data-picture data-alt="Aen">
    <span data-src="<%= thumbnail_url('/assets/images/work/aen.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/aen.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/aen.jpg', :md_1c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/aen.jpg', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/aen.jpg', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/aen.jpg', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/aen.jpg', :sm_1c) %>" alt="Aen">
    </noscript>
  </span>
  <div class="tile-content">
    <h3 class="tile-label-sw label-caption label-reversed">Aen, Design Lead</h3>
  </div>
</a>

<a href="#" class="tile-col-1 tile-offset-1 tile-ratio-1-1 clear-tile tile-tinted">
  <span data-picture data-alt="Wee Soon">
    <span data-src="<%= thumbnail_url('/assets/images/work/weesoon.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/weesoon.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/weesoon.jpg', :md_1c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/weesoon.jpg', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/weesoon.jpg', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/weesoon.jpg', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/weesoon.jpg', :sm_1c) %>" alt="Wee Soon">
    </noscript>
  </span>
  <div class="tile-content">
    <h3 class="tile-label-sw label-caption label-reversed">Wee Soon, Chief Technologist</h3>
  </div>
</a>

<% link_to '/work/walk-for-water/', class: 'tile-col-2 tile-offset-3 tile-ratio-2-2 clear-tile' do %>
  <span data-picture data-alt="Walk for Water">
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :md_2c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :md_2c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :lg_2c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :lg_2c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :sm_1c) %>" alt="Walk for Water">
    </noscript>
  </span>
  <div class="tile-content">
    <div class="tile-label-center">
      <h3 class="label-heading label-reversed">Every step counts.</h3>
    </div>
  </div>
<% end %>

<!-- <a href="#" class="tile-col-2 tile-offset-1 tile-ratio-2-2 clear-tile tile-shaded">
  <div class="tile-content">
    <h3 class="tile-label-center label-heading label-reversed">Sunday + BIG 3</h3>
  </div>
</a>
<a href="#" class="tile-col-3 tile-offset-3 tile-ratio-3-3 clear-tile tile-shaded">
  <div class="tile-content">
    <h3 class="tile-label-center label-heading label-reversed">Sunday + FIXX</h3>
  </div>
</a> -->

<% link_to '/and-sunday/lemons/', class: 'tile-col-2 tile-offset-1 tile-ratio-2-2 clear-tile' do %>
  <span data-picture data-alt="Lemons">
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :md_1c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/lemons.png', :sm_1c) %>" alt="Lemons">
    </noscript>
  </span>
  <div class="tile-content">
    <h3 class="tile-label-center label-heading">Beautiful identities.</h3>
  </div>
<% end %>

<% link_to '/lab/', class: 'tile-col-1 tile-offset-2 tile-ratio-1-1 clear-tile tile-shaded' do %>
  <div class="tile-content">
    <div class="tile-label-center">
      <h3 class="label-heading label-reversed">Sunday Lab</h3>
    </div>
  </div>
<% end %>