---
title: Work
---
<div class="tile-col-2 tile-offset-1 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <h1 class="label-heading"><%= current_page.data.title %></h1>
    </div>
  </div>
</div>
<div class="tile-col-2 tile-offset-3 tile-ratio-3-v">
  <div class="tile-content">
    <div class="tile-label-e">
      <p></p>
    </div>
  </div>
</div>

<% link_to '/work/parkspace/', class: 'tile-col-2 tile-offset-1 tile-ratio-2-2 clear-tile' do %>
  <div class="tile-content">
    <h3 class="tile-label-nw label-heading">ParkSpace</h3>
  </div>
  <span data-picture data-alt="Intro">
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :md_4c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :md_4c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :md_4c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :md_4c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :lg_4c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :lg_4c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/parkspaceapp.jpg', :sm_1c) %>" alt="Intro">
    </noscript>
  </span>
<% end %>

<% link_to '/work/polligraf/', class: 'tile-col-1 tile-offset-3 tile-ratio-1-1' do %>
  <span data-picture data-alt="Polligraf">
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :md_1c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/polligraf.jpg', :sm_1c) %>" alt="Polligraf">
    </noscript>
  </span>
  <div class="tile-content">
    <h3 class="tile-label-center label-heading label-reversed">Polligraf</h3>
  </div>
<% end %>

<% link_to '/work/walk-for-water/', class: 'tile-col-1 tile-offset-0 tile-ratio-1-1 clear-tile' do %>
  <span data-picture data-alt="Walk for Water">
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :md_2c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :md_2c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :lg_2c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :lg_2c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/walkforwater.jpg', :sm_1c) %>" alt="Walk for Water">
    </noscript>
  </span>
  <div class="tile-content">
    <div class="tile-label-center">
      <h3 class="label-heading label-reversed">Walk for Water</h3>
    </div>
  </div>
<% end %>

<% link_to '/and-sunday/lemons/', class: 'tile-col-1 tile-offset-2 tile-ratio-1-1' do %>
  <span data-picture data-alt="Lemons">
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :sm_1c) %>"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :sm_1c_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :md_1c) %>"    data-media="(min-width: 768px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :md_1c_2x) %>"  data-media="(min-width: 768px) and (min-device-pixel-ratio: 2.0), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :lg_1c) %>"    data-media="(min-width: 992px)"></span>
    <span data-src="<%= thumbnail_url('/assets/images/work/lemons.png', :lg_1c_2x) %>"  data-media="(min-width: 992px) and (min-device-pixel-ratio: 2.0), (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>
    <noscript>
      <img src="<%= thumbnail_url('/assets/images/work/lemons.png', :sm_1c) %>" alt="Lemons">
    </noscript>
  </span>
  <div class="tile-content">
    <h3 class="tile-label-center label-heading">Lemons</h3>
  </div>
<% end %>